body {
  margin: 0 2em;
}

/*big screens mobile device*/
@media only screen and (min-device-width: 600px) {
  body {
    width: 600px;
  }
}

p.opening {
  font-weight: bold;
}

#intro {
  border-top: 1px solid black;
}
